<ion-view>
    <ion-content class="padding center" >
        <h1>Double tap pour envoyer une alerte</h1>
        <br>
        <nav class="circular-menu"  >
            <div class="circle" ng-class="{'open':open}">
                <a href="" class="ion-email fa-4x"></a>
                <a href="" class="ion-chatbox-working fa-4x"></a>
                 <a href="" class="fa fa-phone fa-4x"></a>
                <a href="" class="fa fa-facebook fa-4x"></a>
                <a href="" class="fa fa-twitter fa-4x"></a>
            </div>
            
        </nav>
        <button ng-repeat="button in buttons" class="menu-button icon fa fa-hand-o-down" on-click="changeButton($index)" on-double-tap="sendSMS()" on-swipe-left="changeButton($index,'left')" on-swipe-right="changeButton($index,'right')" on-hold="settings()" ng-class="{'before':button.position=='before','current':button.position=='current', 'after':button.position=='after'}"></button>
    <h2>Faire un appui long pour paramétrer les alertes.</h2>
    </ion-content>
    
</ion-view>
