@import "font-awesome.min.css";

html, body
{
    color:white;
}

ion-nav-bar,ion-view
{
    border:none;
    background: none;
    box-shadow: none;
}

ion-content
{
    text-align: center;
    background: #213242;
    border:none;
}

.menu-button
{
    position: absolute;
    border-radius: 50%;
    background: #e74c3c;
    border:none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color:white;
}

.menu-button-pending
{
    background: #f39c12;
}

.menu-button-success
{
    background: #27ae60;
}

.menu-button:activated
{
    background: #c0392b;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.settings-button
{
    display: block;
    position: absolute;
    border-radius:50%;
    background:#e67e22;
    border:none;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    color:white;
    text-decoration: none;
}

.settings-button:hover
{
    background: #d35400;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    cursor: pointer;
}



h1, h2, p
{
    color:white;
}

p
{
    font-size: 20px;
}


.contacts
{
    text-align: center;
}

.contact
{
    height: 50px;
    overflow: hidden;
    margin:10px;
    font-size: 20px;
    float: none;
}

.contact-key
{
    float: left;
    width:50px;
    height: 50px;
    border-radius: 50%;
    background: #2c3e50;
    line-height: 50px;
    margin-left: 5px;
    margin-right: 5px;
}

.contact-value
{
    float:left;
    padding-left:20px;
    padding-right:20px;
    display: inline-block;
    background:  #2c3e50;
    border-radius: 25px;
    height: 100%;
    line-height: 50px;
    margin-left: 5px;
    max-width: calc(100% - 70px);
}

.validate
{
    color:#2ecc71;
    float: left;
    margin-left: 20px;
}

.contacts input
{
    background:  #2c3e50;
    font-size: 1em;
    height: 100%;
    width:100%;
    margin: 0;
    color:white;
}

.help
{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    background: #2c3e50;
    font-size: 2em;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 2em;
    padding-left:2em;
    padding-right:2em;
}

.call
{
    background: #27ae60;
}

.sms
{
    background: #16a085;
}

.mail
{
    background: #2980b9;
}

@media all and (max-width:1000px)
{
    .help,h2
    {

        font-size: 1.5em;
    }
}

@media all and (max-width:800px)
{
    .help
    {

        //font-size: 1em;
    }
}
@media all and (orientation:portrait) {
    
    .menu-button
    {
        width: 50vw;
        height: 50vw;
        top: calc(50% - 25vw);
        left: calc(50% - 25vw);
        font-size: 25vw;
    }
    
    .settings-button
    {
        width: 20vw;
        height: 20vw;
        top: calc(90% - 10vw);
        left: calc(80% - 10vw);
        font-size: 10vw;
        line-height: 20vw;
    }
    
    .contact
    {
        max-width: 100%;
    }
    
    .contact-value
    {
        
    }
        

}
@media all and (orientation:landscape) {
        .menu-button
    {
        width: 50vh;
        height: 50vh;
        top: calc(50% - 25vh);
        left: calc(50% - 25vh);
        font-size: 25vh;
    }
    
    .settings-button
    {
        width: 20vh;
        height: 20vh;
        top: calc(80% - 10vh);
        left: calc(90% - 10vh);
        font-size: 10vh;
        line-height: 20vh;
    }
}


@media all and (orientation:landscape) and (min-width:800px){

    .menu-button
    {
        width: 50vh;
        height: 50vh;
        top: calc(50% - 25vh);
        left: calc(50% - 25vh);
        font-size: 25vh;
    }
    
    .settings-button
    {
        width: 20vh;
        height: 20vh;
        top: calc(80% - 10vh);
        left: calc(90% - 10vh);
        font-size: 10vh;
        line-height: 20vh;
    }
    
    .help
    {
        max-width: 50%;
    }
    
    .contacts
    {
        margin-left:25%;
        margin-right:25%;
    }
}

.plus
{
    background: rgba(0,0,0,0.1);
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-radius:25px;
}

.plus .contact-key:hover
{
    cursor: pointer;
}

.error
{
   color: #e74c3c;
}